# Archivos de Sistema y Temporales
.git/
.svn/
*.rar
*.zip
*.7z
*.tar.gz

# Producción y Caché
.cache/
.parcel-cache/
.next/
.nuxt/
out/

# Variables de entorno (¡Muy importante por seguridad!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local